<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
</head>
<body>

    {% extends 'learning_logs/base.html' %}

    {% block content %}

    <p>Topic: {{topic}}</p>

    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <!--Django中|表示模版过滤器,过滤器date可以使时间按照January 1, 2015 23:00显示-->
                <p>{{ entry.date_added|date:'M,d,Y H:i' }}</p>
                <!-- 此行代码使用过滤器linebreaks将包含换行符的长文本转换为浏览器适应的格式-->
                <p>{{ entry.text|linebreaks }}</p>

            </li>
        {% empty %}
            <li>

                There are no entries for this topic yet.
            </li>
        {% endfor %}
    </ul>

{% endblock content %}

</body>
</html>